@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "poppins";
    outline: none;
    border: none; 
    color: black;
}
body{
    background-image: url(Picture8.jpg);
    background-size: 90%;
    
    background-repeat: no-repeat;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    padding: 2rem 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.sticky{
    border-bottom: 2px solid rgba(255,255,255,.1);
    background:black;
}
@keyframes  RightSlide{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

#menu{
    background-color: black;
    color: black;
    font-size: 2.5rem;
    display: none;
}

.navbar a{

    text-decoration: none; 
    font-size: 2rem;
    border-color: violet;
    color: violet; 
    padding: 10px 20px; 
    border: 2px solid transparent;
    border-radius: 10rem; 
    background-color: transparent;
    transition: all 0.2s;
    text-align: center; 
}

@keyframes  TopSlide{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.navbar a:hover,.navbar a.active{
    color: #ff00ee;
    border-color: violet; 
    background-color:  rgba(0, 123, 255, 0.1); 
    border-radius: 100rem;
}
section{
    padding: 10rem 9% 2rem;
    min-height: 100vh;
}
.about,.gallary,;{
    overflow: hidden;
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-content{
    max-width: 70rem;
}

.logo-container {
    position: absolute;
    top: 10%;
    margin-right: 95%;
    margin-left: 5%;
    transform: translateX(-50%); 
    width: 15rem;
    height: auto;
}

.logo-container img {
    width: 50%;
    height: auto;
    border-radius: 50%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.content {
    padding: 20px;
}

.loga-container {
    position: absolute;
    top: 10%;
    margin-right: 90rem;
    margin-left: 10%;
    transform: translateX(-50%); 
    width: 15rem;
    height: auto;

}

.loga-container img {
    width: 50%;
    height: auto;
    border-radius: 50%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.content {
    padding: 20px;
}


.loge-container {
    position: absolute;
    top: 10%;
    margin-right: 100rem;
    transform: translateX(-50%); 
    width: 15rem;
    height: auto;
}

.loge-container img {
    width: 50%;
    height: auto;
    border-radius: 50%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.content {
    padding: 20px;
}
    

.Khert {
    color: black;
    border-color: violet;
    padding: 10px;
    text-align: center; 
}


.Khert a {
    text-decoration: none; 
    font-size: 2rem;
    border-color: violet;
    color: violet; 
    padding: 10px 20px; 
    border: 2px solid transparent;
    border-radius: 10rem; 
    background-color: transparent;
    transition: all 0.2s;
    text-align: center; 
}


.Khert a:hover {
    border-color: violet; 
    background-color:  rgba(0, 123, 255, 0.1); 
}


.text-content h1 {
    font-size: 4rem;
    font-family: ' Century';
    color: black;
    text-transform: capitalize;
    letter-spacing: .05rem;
    font-weight: normal; 
    transform: translateY(-100px);
    opacity: 0;
    animation: RightSlide 1s ease forwards;
    animation-delay: 1s;
}


.text-content span{
    color: black;
        text-shadow: bold black;
        text-decoration-color: black;
        font-family: Century;
        font-size: 5rem;
}

.text-animation{
    position: relative;
    width: 32.8rem;
}


.text-animation h2 {
    font-size: 5rem;
    font-weight: 700;
    font-family: century;
    color: transparent;
    -webkit-text-stroke: 0.7px black; 
    background: linear-gradient(black, black); 
    background-repeat: no-repeat; 
    -webkit-background-clip: text;
    background-position: -33rem 0;
    transform: translateY(-100px);
    opacity: 0;
    animation: textSlide 6s linear infinite, topSlide 1s ease forwards;
    animation-delay: 2s, 1.2s;
}

@keyframes textSlide {
    0%, 10%, 100% {
        background-position: -33rem 0;
    }
    65%, 85% {
        background-position: 0 0;
    }
}

@keyframes topSlide { 
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.text-animation::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    border-right: 2px solid #ff00ee;
    transform: translateY(-100px);
    opacity: 0;
    animation: CursorSlide 6s linear infinite,
    TopSlide 1s ease forwards;
    animation-delay: 2s,1.2s;
}
@keyframes CursorSlide {
    0%,10%,100%{
        width: 0;
    }
    65%,78%,85%{
        opacity: 1;
        width: 100%;
    }
    75%,81%
    {
        opacity: 0;
    }

}
.text-content p{
    color: black;
    font-size: 2rem;
    margin: 1rem 0;
    transform: translateX(100px);
    opacity: 0;
    animation: leftSlide 1s ease forwards;
    animation-delay: 1.4s;
    font-family: ' Century';
}
@keyframes leftSlide{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.btn-section{
    width: 32.5rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    position: relative;
}
.btn-section::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: violet;
    height: 100%;
    width: 100%;
    z-index: 2;
    animation: Slide 1s ease forwards;
    animation-delay: 1.6s;
}
@keyframes Slide{
    0%{
        width: 100%;
    }
    100%{
        width: 0;
    }
}
 .btn{
    height: 100%;
    width: 15rem;
    color: #fff;
    background: rgba(255,255,255,.1);
    border: .2rem solid rgba(255,255,255,.3);
    backdrop-filter: blur(5rem);
    border-radius: .8rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: -100%;
    height: 300%;
    width: 100%;
    background: linear-gradient(
        #0f0a0a,#ff00ee,#0f0a0a,#ff00ee
    );
    z-index: -1;
    transition: .5s ease;
}
.btn:hover::before{
    top: 0;
}
.social-media {
    margin: 2rem 0;
}
.social-media i{
    display: inline-block;
    font-size: 2.5rem;
    background: rgba(255,255,255,.1);
    border: .2rem solid rgba(255,255,255,.3);
    padding: .8rem;
    margin: 0 .5rem;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    animation: Bottom 1s ease forwards;
    animation-delay: calc(.2s * var(--vlr));
    transform: translateY(100px);
    opacity: 0;

}
@keyframes Bottom{
    0%{
        transform: translateY(100px);
    opacity: 0;
    }
    100%{
        transform: translateY(0px);
    opacity: 1;
    }
}
.social-media i::after{
    content: "";
    position: absolute;
    left: 0;
    top: -100%;
    height: 300%;
    width: 100%;
    background: linear-gradient(
        #0f0a0a,#ff00ee,#0f0a0a,#ff00ee
    );
    z-index: -1;
    transition: .5s ease;
}

i:hover::after{
    top: 0;
}
.home img{
    width: 30vw;
    background: rgba(255,255,255,.1);
    border: .4rem solid rgba(255,255,255,.3);
    border-radius: 50%;
    filter: drop-shadow(0 0 2rem #ff00ee);
    animation: Scale 1s ease forwards;
    scale: 0;
    animation-delay: 2s;
}
@keyframes Scale{
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
}

/* about section */
.about{
    display: flex;
    background-image: url(Picture6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 6rem;
    gap: 2rem;
}

.blinking-text {
    margin-right: 85%;
    margin-top: 0%;
    text-align: left;  
    color: white;
    font-family: Century;
    font-size: 6rem; 
    animation: blink-animation 1s steps(5, start) infinite;  
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
  
  
  @keyframes blink-animation {
    0% { color: violet; }
    50% { color: red; } 
    100% { color: blue; }
  }
  
@keyframes top{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.title span{
    color: #ff00ee;
}
.about {
    display: flex; 
    justify-content: space-between;  
    align-items: center; 
    width: 100%;  
}

.about img {
    height: 40rem;
    width: 40rem;
    background: rgba(255, 255, 255, .1);
    border: .2rem solid rgba(255, 255, 255, .3);
    border-radius: 10%;
    filter: drop-shadow(0 0 8rem #ff00ee);
    transition: transform 0.3s;  
}


.about img:hover {
    transform: scale(1.05); 
}
section.start-animation .aboutImg{
    animation: scaleout 1s ease forwards;
}
@keyframes scaleout{
    0%{
       scale: 0;
    }
    100%{
     scale: 1;
    }
}

.text-content2 h2{
    color: white;
    font-size: 3.5rem;
    text-align: right;
    font-family: Century;
    transform: translatex(-100px);
    opacity: 0;
}
section.start-animation .text-content2 h2{
    animation: Right 1s ease forwards;
}
@keyframes Right{
    0%{
        transform: translatex(-100px);
        opacity: 0;
    }
    100%{
        transform: translatex(0px);
        opacity: 1;
    }
}
.text-content2 p{
    font-size: 2rem;
    color: white;
    margin-top: 0rem;
    text-align: right;
    margin: 2rem  0 40rem;
    font-family: Century;
    transform: translatex(100px);
    opacity: 0;
}
section.start-animation .text-content2 p{
    animation: Left 1s ease forwards;
}
@keyframes Left{
    0%{
        transform: translatex(100px);
        opacity: 0;
    }
    100%{
        transform: translatex(0px);
        opacity: 1;
    }
}
.text-content2 .btn{
    padding: .9rem .5rem;
    transform: translateY(100px);
    opacity: 0;
}

section.start-animation .text-content2 .btn{
    animation: Bottoms 1s ease forwards;
}
@keyframes Bottoms{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translatey(0px);
        opacity: 1;
    }
}

/* Gallery section */

.slider{
    height: 100vh;
    margin-top: -50px;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, white 2%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    color: violet;
    font-size: 60px;
    font-family: Century;
    position: relative;
    margin: 0;
}

.slider .list .item .content p{
    color: black;
    font-size: 2.5rem;
    position: relative;
    font-family: Century;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .2s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    position: absolute;
    color: white;
    text-align: center;
    font-size:2rem;
    font-family: Century;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}

/* RESPONSIVE */
@media(max-width:1200px){
    html{
        font-size: 55;
    }
}
@media(max-width:991px){
    .header{
        padding: 2rem 9%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .contact{
        min-height: auto;
    }
    footer{
        padding: 2rem 3%;
    }
}
@media(max-width:768px){
    #menu{
        display: block;
    }
    .navbar{
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        padding: 1rem 3%;
        background: #0f0a0a;
        border-top: 1px solid rgba(255,255,255,.1);
        border-bottom: .2rem solid rgba(255,255,255,.1);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        margin: 3rem 0;
        font-size: 2rem;
    }
    .home{
        flex-direction: column-reverse;
    }
    .home .text-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .home .text-content h1{
        font-size: 4rem;
    }
    .home img{
        width: 40vw;
    }
    .about{
        flex-direction: column;
    }
    .about img{
        width: 20rem;
        height: 20rem;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .input-box input{
        width: 100%;
    }
}